<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css') }}">
    <title>Detetive Lógico-Inicio</title>
</head>
<body>
    <div class="caixa-mae">
        <header>
            <H1>Detetive Lógico</H1>
        </header>
        <div class="btn-criar-sala">
            <a href="/sala" class="criar-sala">Criar Sala</a>
        </div>
    </div>
</body>
</html>