<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Escolha seu personagem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selecionar_personagem.css') }}">
    
    </head>
<body>
    <h1>Escolha seu personagem</h1>
    
    <div class="cards-container">
        {% for personagem in personagens %}
        <div class="card">
            <img src="{{ url_for('static', filename='img/personagens/' ~ personagem.imagem) }}" alt="{{ personagem.nome }}">
            <div class="card-content">
                <div class="card-title">{{ personagem.nome }}</div>
                <div class="card-description">{{ personagem.descricao }}</div>
                <a href="{{ destino }}?personagem={{ personagem.nome }}">Selecionar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>